.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: block;
  width: 100px;
  border-radius: 50%;
}
.login-btn {
  text-decoration: none;
  color: black;
}
.login-btn:hover,
.login-btn:focus {
  color: black;
}
.nav-text {
  font-size: 18px;
  font-weight: 600;
}
